header {
    text-align: center;
    z-index: 999;
    width: 100%;
}

.nav-toggle{
    display: none;
}

nav {
    text-align: left;
    width: 100%;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: chartreuse;
}

.nav-toggle:checked ~ nav {
    display: block;
}