body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #E5E7EB;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
    font-size: 18px;
}

ul {
    display: flex;
    list-style: none;
    padding: 20;
}

li {
    padding: 0 10px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-open {
    height: 400px;
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.placeholder-img {
    height: 300px;
    width: 500px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0 140px 0 0;
}

.sign-up-button {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    background-color: #3882F6;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
}

.text-header {
    font-size: 18px;
    margin: 0 0 0 140px;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 1;

}

.Box {
    width: 200px;
    height: 200px;
    border: #3882F6 4px solid;
    border-radius:20px ;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-cards {
    display: flex;
    margin: 0 10%;
}

.Boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    text-align: center;
}